body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 2px 10px rgb(192, 71, 71) , 1px 2px 10px rgb(86, 54, 230);
}

.user_input input {
    padding: 10px;
    width: 70%;
}

.user_input button {
    padding: 10px;
    background: #0097b2;
    color: #fff;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.taps button,  .actions button{
    margin: 10px 5px;
    padding: 10px;
    border: none;
    background: #0097b2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.actions button {
    background: #e74c3c;
}