body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 2px 10px rgb(192, 71, 71) , 1px 2px 10px rgb(86, 54, 230);
}

.user_input input {
    padding: 10px;
    width: 70%;
}

.user_input button {
    padding: 10px;
    background: #0097b2;
    color: #fff;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.taps button,  .actions button{
    margin: 10px 5px;
    padding: 10px;
    border: none;
    background: #0097b2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.actions button {
    background: #e74c3c;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 8px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.done {
    text-decoration: line-through;
    background: #d3ffd3;
}

li button:nth-of-type(2){
    color: red;
    padding: 0.12em 0.5em;
}

.popup {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.popup-buttons button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#popup-confirm { background-color: #0097b2; color: white; }
#popup-cancel { background-color: #e74c3c; color: white; }
